/* service_hero */
.service_hero .container {
    padding-top: 20rem;
    overflow: hidden;
    position: relative;
    padding-bottom: 8rem;
}

.service_hero_bg {
    position: absolute;
    width: 60.69%;
    right: 0;
    transform: translate(20%, -70%);
    top: 0;
    pointer-events: none;
    z-index: -1;
    filter: blur(15rem);
}

.service_hero_left {
    grid-column: 1/9;
    margin-right: -3.2rem;
}

.service_hero_right {
    grid-column: 10/13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.service_hero_right_discover_icon {
    width: 2.4rem;
    height: 2.4rem;
}

.service_hero_right_discover_icon_wrap {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.service_hero_right_discover_icon {
    grid-column: 1/2;
    grid-row: 1/2;
    transition: transform .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.service_hero_right_discover_icon.active {
    transform: translate(-100%, -100%);
}

.service_hero_right_discover {
    display: flex;
    gap: .8rem;
}

.service_hero_right_discover:hover .service_hero_right_discover_icon {
    transform: translate(100%, 100%);
}

.service_hero_right_discover:hover .service_hero_right_discover_icon.active {
    transform: translate(0%, 0%);
}

.service_hero_right_discover path {
    transition: stroke .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.service_hero_right_discover:hover path {
    stroke: #F32B3B;
}

.service_hero_right_txt {
    text-align: right;
}

@media only screen and (max-width: 991px) {
    .service_hero .container {
        padding-top: 10rem;
    }

}

@media only screen and (max-width: 767px) {
    .service_hero_bg {
        width: 82.69%;
        transform: translate(20%, -1%);
        filter: blur(8rem);
    }

    .service_hero .container {
        padding-top: 9.6rem;
        padding-bottom: 4.8rem;
    }

    .service_hero_left,
    .service_hero_right {
        grid-column: 1/5;
        margin: 0;
    }

    .service_hero_right {
        align-items: start;
    }

    .service_hero_left {
        margin-bottom: 3.2rem;
    }

    .service_hero_right_txt {
        margin-bottom: 6.4rem;
        text-align: left;
    }

    .service_hero_right_txt br {
        display: none;
    }

}


/* career_why */

.career_why {
    padding-block: 10rem;
}

.career_why_info {
    margin-bottom: 10rem;
    position: relative;
}

.career_why_info_content_card_item_icon {
    width: 5.6rem;
    height: 5.6rem;
    margin-bottom: 6.6rem;
}

.career_why_info_content_card_item {
    padding: 3.2rem;
}


.career_why_info_content_card_item_title {
    margin-bottom: 1.2rem;
}


.career_why_info_left {
    grid-column: 1/4;
}

.career_why_info_content {
    grid-column: 5/13;

}

.career_why_info_content_title {
    margin-bottom: 5.6rem;
}

.career_why_info_content_card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 3.2rem;
}

.career_why_info_content_card_item {
    width: calc(50% - 2.4rem);
    border-bottom: 1px solid #262626;
}

.career_why_img {
    position: relative;
    margin-bottom: 10rem;
}

.career_why_img_overlay {
    position: absolute;
    z-index: 1;
    inset: 0;
    background-color: rgba(13, 13, 13, 0.4);
}

.career_why_img_txt {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.career_why_img_bg {
    position: absolute;
    left: -6.5rem;
    bottom: -10rem;
    width: 36.3rem;
}

.home_case_content_item_txt_icon_wrap {
    grid-column: 1/2;
    grid-row: 1/2;
    transition: transform .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width: 4.8rem;
    height: 4.8rem;
}

.home_case_content_item_txt_icon_wrap.active {
    transform: translate(-100%, 100%);
}

.career_why_list_item:hover {
    .home_case_content_item_txt_icon_wrap {
        transform: translate(100%, -100%);
    }

    .home_case_content_item_txt_icon_wrap.active {
        transform: translate(0, 0);
    }

    .home_case_content_item_txt_title {
        color: #F32B3B;
    }

    &::before {
        right: 0;
    }

    .home_case_content_item_img {
        opacity: 1;
        transform: translateY(-50%) scale(1, 1);
    }
}

.career_why_list_item path {
    transition: stroke .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.career_why_list_item:hover path {
    stroke: #F32B3B;
}

.career_why_list_item_position {
    grid-column: 1/6;
}

.career_why_list_item_level {
    grid-column: 6/8;
}

.career_why_list_item_quality {
    grid-column: 8/10;
}

.career_why_list_item_deadline {
    grid-column: 10/12;
}

.home_case_content_item_txt_icon {
    grid-column: 12/13;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
}

.career_why_list_title {
    padding-left: 6.4rem;
}

.career_why_list_item {
    padding-block: 3.2rem;
    padding-left: 6.4rem;
    border-bottom: 1px solid #262626;
    position: relative;
    color: #bebebe;
}


/* Parallax Career Image */
.career_img {
    width: 100%;
    height: 100vh;
    /* Adjust height as needed */
}

.career_img_inner {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:767px) {
    .career_img {
        height: auto;
    }

    .career_img_inner {
        background-attachment: unset;
    }
}

/*cta  */

.about_cta_inner_content_title_txt {
    grid-column: 3/7;
    margin-right: 2rem;
    grid-row: 1/2;
}

.about_cta_inner_content_des {
    grid-column: 8/12;
    grid-row: 1/3;
    margin-right: 2rem;
    margin-top: 4rem;
}

.about_cta_inner_content_title_txt {
    margin-bottom: 4rem;
}

.about_cta_inner_content_title_button {
    grid-column: 3/5;
    grid-row: 2/3;
}

@media only screen and (max-width: 991px) {
    .career_why_info_left {
        grid-column: 1/9;
        margin-bottom: 1.6rem;
    }

    .career_why_info_content {
        grid-column: 1/9;
    }

    .career_why_info_content_title {
        width: 100%;
    }

    .career_why_list_item_position {
        grid-column: 1/5;
    }

    .career_why_list_item_level {
        grid-column: 5/6;
    }

    .career_why_list_item_quality {
        grid-column: 6/7;
    }

    .career_why_list_item_deadline {
        grid-column: 7/8;
    }

    .home_case_content_item_txt_icon {
        grid-column: 8/9;
    }

    .home_case_content_item_txt_icon_wrap {
        width: 3.5rem;
        height: 3.5rem;
        margin-left: 3rem;
    }

    .career_why_list_title,
    .career_why_list_item {
        padding-inline: var(--padding-container);
    }

    .career_why_list_item {
        padding-block: 2rem;
    }

    .about_cta_inner_content_title_txt {
        grid-column: 1/5;
        margin-right: 0;
    }

    .about_cta_inner_content_des {
        grid-column: 5/9;
    }

    .about_cta_inner_content_des,
    .about_cta_inner_content_title {
        margin-right: 0;
    }

    .about_cta_inner_content {
        margin-right: 0;
    }

    .about_cta_inner_content_des {
        margin-top: 2rem;
    }

    .about_cta_inner_content_title_button {
        grid-column: 1/3;
    }

}

@media only screen and (max-width: 767px) {
    .career_why_info_content_title br {
        display: none;
    }

    .career_why {
        padding-block: 6.4rem;
    }

    .career_why_info_content_title {
        font-size: 3.14rem;
        margin-bottom: 3.2rem;
    }

    .career_why_info_content_card_item {
        width: 100%;
        padding: 2.4rem 0;
    }

    .career_why_info_content_card_item_icon {
        margin-bottom: 6.2rem;
    }

    .career_why_info {
        margin-bottom: 4.8rem;
    }

    .career_why_img_inner {
        margin-left: calc(-1*var(--padding-container));
        margin-right: calc(-1*var(--padding-container));
    }

    .career_why_img_overlay {
        left: calc(-1*var(--padding-container));
        right: calc(-1*var(--padding-container));
    }

    .career_why_img_txt {
        width: 25rem;
        text-align: center;
    }

    .career_why_img {
        margin-bottom: 4.8rem;
    }

    .career_why_list_item_position {
        width: 100%;
        margin-bottom: 1.6rem;
    }

    .career_why_list_item_level {
        width: 9.9rem;
    }

    .career_why_list_item_quality {
        width: 9.9rem;

    }

    .career_why_list_item_deadline {
        width: 9.9rem;

    }

    .career_why_list_item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-block: 1.6rem;
    }

    .about_cta_inner_content_title_txt {
        grid-column: 2/5;
        margin-bottom: 1.2rem;
        grid-row: 1/2;
        margin-left: -2.4rem;
    }

    .about_cta_inner_content_des {
        grid-column: 2/5;
        margin-bottom: 2.4rem;
        grid-row: 2/3;
        margin-left: -2.4rem;
        margin-top: 0;
    }

    .about_cta_inner_content_title_button {
        grid-column: 2/5;
        grid-row: 3/4;
        margin-left: -2.4rem;
    }

    .about_cta_inner_content {
        margin-left: 0;
    }

    .about_cta .container {
        padding-block: 4.6rem;
    }

    .about_cta_inner_content_des {
        font-size: 1.4rem;
    }

}