/* service_hero */
.service_hero .container {
    padding-top: 20rem;
    overflow: hidden;
    position: relative;
    padding-bottom: 8rem;
}

.service_hero_bg {
    position: absolute;
    width: 60.69%;
    right: 0;
    transform: translate(20%, -70%);
    top: 0;
    pointer-events: none;
    z-index: -1;
    filter: blur(15rem);
}

.service_hero_left {
    grid-column: 1/9;
    margin-right: -4.2rem;
}

.service_hero_right {
    grid-column: 10/13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.service_hero_right_discover_icon {
    width: 2.4rem;
    height: 2.4rem;
}

.service_hero_right_discover_icon_wrap {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.service_hero_right_discover_icon {
    grid-column: 1/2;
    grid-row: 1/2;
    transition: transform .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.service_hero_right_discover_icon.active {
    transform: translate(-100%, -100%);
}

.service_hero_right_discover {
    display: flex;
    gap: .8rem;
}

.service_hero_right_discover:hover .service_hero_right_discover_icon {
    transform: translate(100%, 100%);
}

.service_hero_right_discover:hover .service_hero_right_discover_icon.active {
    transform: translate(0%, 0%);
}

.service_hero_right_discover path {
    transition: stroke .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.service_hero_right_discover:hover path {
    stroke: #F32B3B;
}

.service_hero_right_txt {
    text-align: right;
}

@media only screen and (max-width: 991px) {
    .service_hero .container {
        padding-top: 10rem;
    }

}

@media only screen and (max-width: 767px) {
    .service_hero_bg {
        width: 82.69%;
        transform: translate(20%, -1%);
        filter: blur(8rem);
    }

    .service_hero .container {
        padding-top: 9.6rem;
        padding-bottom: 4.8rem;
    }

    .service_hero_left,
    .service_hero_right {
        grid-column: 1/5;
        margin: 0;
    }

    .service_hero_right {
        align-items: start;
    }

    .service_hero_left {
        margin-bottom: 3.2rem;
    }

    .service_hero_right_txt {
        margin-bottom: 6.4rem;
        text-align: left;
    }

}

.service_img {
    width: 100%;
    height: 70rem;
    /* Adjust height as needed */
}

.service_img_content {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:767px) {
    .service_img {
        height: auto;
    }

    .service_img_content {
        background-attachment: unset;
        display: flex !important;
    }
}

/* home_services */
.home_services {
    position: relative;
    z-index: 5;
}

.home_services_top {
    padding-block: 10rem;
    background-color: #E62636;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.home_services_top_bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 28rem;
}

.home_services_top_bg.left {
    left: -2rem;
}

.home_services_top_bg.right {
    right: -2rem;
}

.home_services_title {
    max-width: 86.4rem;
    margin-inline: auto;
    margin-bottom: 3.2rem;
}

.home_services_sub {
    color: #FBDDDF;
    margin-inline: auto;
    width: max-content;
    margin-bottom: 3.2rem;
}

.home_services_cms_wrap {
    position: relative;
}


.home_services_progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: #E62636;
    z-index: 100;
    will-change: width;
}

.home_services_list {
    display: flex;
    flex-direction: column;
}

.home_services_list .home_services_item:nth-child(2n) {
    background-color: #910f04;
}

.home_services_item {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    will-change: width;
    position: relative;
    background-color: #0D0D0D;
}

.home_services_item_inner {
    width: 100vw;
    height: 100dvh;
}

.home_services_sub::before {
    background-image: url('../images/ic_arrow_white.svg') !important;
}

.home_services_content {
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 10.5dvh;
}

.home_services_content_title {
    margin-bottom: 1.6rem;
}

.home_services_img {
    grid-column: 7/13;
    height: 100dvh;
    margin-left: -1.6rem;
}

.home_services_item:nth-child(2n) .home_services_content {
    grid-column: 7/13;
    grid-row: 1/2;
    padding-left: 11.2rem;
}

.home_services_item:nth-child(2n) .home_services_img {
    grid-column: 1/7;
    grid-row: 1/2;
    margin-right: -1.6rem;
    margin-left: calc(var(--padding-container)*-1);
}

.home_services_content_bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.home_services_content_bottom_des {
    width: 100%;
    flex: none;
    margin-top: 2.4rem;
}

.home_services_content_bottom_list {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: 40rem;
}

.home_services_content_bottom_list_item {
    position: relative;
    padding-left: 1.6rem;
    cursor: pointer;
    transition: padding-left .4s ease, color .4s ease;
}

.home_services_content_bottom_list_item:hover {
    padding-left: 2rem;
    color: white;
}

.home_services_content_bottom_list_item:hover svg path {
    fill: #F32B3B;
}

.home_services_content_bottom_list_item svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: .9rem;
    height: 1.3rem;
    transition: left .4s ease;
}

.home_services_content_bottom_list_item:hover svg {
    left: .3rem;
}

.home_services_content_bottom_list_item svg path {
    transition: fill .4s ease;
}

@media (max-width: 991px) and (min-width:768px) {
    .home_services_content_bottom_list_item svg {
        top: .5rem;
        transform: translateY(0);
    }

    .home_services_item {
        height: auto;
    }

    .home_services_content_bottom {
        flex-direction: column;
        align-items: start;
        gap: 4rem;
    }

    .home_services_content {
        grid-column: 1/5;
        padding-block: 8rem;
        padding-right: 2rem;
    }

    .home_services_img {
        grid-column: 5/-1;
        height: 75rem;
        margin-left: -1rem;
    }

    .home_services_item_inner {
        height: 75rem;
    }

    .home_services_item:nth-child(2n) .home_services_content {
        grid-column: 5/9;
        padding-left: 2rem;
    }

    .home_services_item:nth-child(2n) .home_services_img {
        grid-column: 1/5;
        margin-right: -1rem;
        margin-left: calc(var(--padding-container)*-1);
    }

    .home_services_content_bottom_list {
        width: 100%;
    }
}

@media only screen and (max-width:767px) {
    .home_services {
        margin-top: 0;
    }

    .home_services_top_bg {
        pointer-events: none;
    }

    .home_services_sub {
        margin: unset;
        margin-bottom: 1.6rem;
    }

    .home_services_title {
        text-align: left;
        margin-bottom: 2rem;
    }

    .home_services_top {
        padding-block: 6.4rem;
    }

    .home_services_top_bg {
        width: 42.8rem;
        right: -90% !important;
        top: -37%;
        transform: translateY(0);
    }

    .home_services_content {
        grid-column: 1/5 !important;
    }

    .home_services_img {
        grid-column: 1/5 !important;
    }

    .home_services_content_title {
        margin-bottom: 1.2rem;
    }

    .home_services_content_bottom_list_item {
        font-size: 1.5rem;
    }

    .home_services_content_bottom {
        flex-direction: column;
        align-items: start;
    }

    .home_services_content_sub {
        margin-bottom: 1.6rem;
    }

    .home_services_content_bottom_des {
        margin-bottom: 2.4rem;
    }

    .home_services_content_bottom_list {
        padding-block: 1.6rem;
        position: relative;
        z-index: 1;
    }

    .home_services_content_bottom_list::before {
        content: "";
        position: absolute;
        inset: -2rem;
        left: -1.6rem;
        right: -1.6rem;
        top: 0;
        bottom: 0;
        background: rgba(13, 13, 13, 0.20);
        backdrop-filter: blur(12px);
        z-index: -1;
        pointer-events: none;
    }

    .home_services_img {
        margin-left: calc(-1 * var(--padding-container));
        margin-right: calc(-1 * var(--padding-container));
        /* margin-top: -37.5rem; */
        height: auto;
        width: 100% !important;
    }

    .home_services_item {
        height: auto;
    }

    .home_services_des {
        text-align: left;
    }

    .home_services_item_inner {
        width: 100%;
        height: auto;
    }

    .home_services_item:nth-child(2n) .home_services_content {
        grid-row: 1/2;
        padding-left: 0;
    }

    .home_services_item:nth-child(2n) .home_services_img {
        grid-column: 1/7;
        grid-row: 2/3;
    }

    .home_services_content_bottom_list::before {
        content: unset;
    }
}